/* ================================== */
/*  STYLES                            */
/* ================================== */

@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700,900|Open+Sans&display=swap');
@import url('//db.onlinewebfonts.com/c/d33e897176d30179c0ee01b063ec8914?family=UnZialish');

$font-logo: 'UnZialish', sans-serif;
$font-title: 'Cinzel', serif;
$font: 'Open Sans', sans-serif;
$card-font: serif;

$dnd-highlight: #71080a;
$dnd-secondary: #e5c03a;
$brand-black: #333333;
$brand-white: #aaaaaa;
$pure-black: #000000;
$pure-white: #FFFFFF;
$shadow: 2px 5px 10px #888888;

//DND Cards
$card-title-color: #71080a;
$card-text-color: #71080a;
$card-back: #ccb392;



.hide {
  display: none;
}


/* ================================== */
/*  STRUCTURE                         */
/* ================================== */

header {
  background-color: red;
}

section {
  padding: 1.5rem;
}


.flex-horizontal {
  display: flex;
  align-items: center;
}

.flex-horizontal li {
  margin: 0 0.5rem;
  text-align: center;
}

/* ================================== */
/*  TEXT                              */
/* ================================== */


h1 {
  font-family: $font-title;
  font-size: 2rem;
  font-weight: 700;
  margin-right: 1rem;
}
h2 {
  font-family: $font;
  font-size: 1.25rem;
  text-transform: capitalize;
  font-variant: small-caps;
  border-bottom: 1px solid $dnd-highlight;
  margin-top: 0.5rem;
}

.overview {
  text-transform: initial;
}

.title-case {
  text-transform: capitalize;
  display: inline-block; /* needed so that anything in a span is still recognised for title */
  margin-right: 5px; /* needed to re-add a 'space' as inline-block removes it */
}


/* ================================== */
/*  CARDS                             */
/* ================================== */

.dnd-card {
  background-color: $card-back;
  font-family: $card-font;
  color: $card-text-color;
  box-shadow: $shadow;
  width: 50%;
  margin: 2rem;
  border-image: linear-gradient(to right, $dnd-secondary, $dnd-highlight) 1;
  border-width: 10px 0;
  border-style: solid;
  h1, h2 {
    color: $card-title-color;
  }
}

.dnd-section, .dnd-block {
  margin: 0.5rem;
  padding-bottom: 0.5rem;
}
.dnd-section {
  border-image: linear-gradient(to right, $dnd-highlight, transparent) 1;
  border-width: 0 0 3px 0;
  border-style: solid;
}

.dnd-item-title {
  font-weight: bold;
  display: inline-block;
  margin-right: 5px;
}
.dnd-block .dnd-item-title {
  margin-top: 0.5rem;
}

.dnd-desc {
  color: $brand-black;
}
.dnd-desc em {
  font-style: italic;
}

.dnd-core-stats {
  font-size: 1.25rem;
}
.dnd-card-list {
  margin-bottom: 0.5rem;
  display: inline-block;
}



/* ================================== */
/*  FORM                              */
/* ================================== */

.counter {
  width: 40px;
  height: 40px;
  margin: 0 3px 0 0;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
p + .counter {
  margin-left: 3px;
}

button {
  cursor: pointer;
  color: $dnd-highlight;
  background-color: white;
  border: 2px solid $dnd-highlight;
  border-radius: 3px;
  width: 7rem;
  height: 2rem;
  font-size: 1rem;
}
button:hover {
  background-color: $dnd-highlight;
  color: white;
}

/* RADIO BUTTONS */
/* The container */
.radio-container {
  position: relative;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 15px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row-reverse;
}

/* Hide the browser's default radio button */
.radio-container input {
  opacity: 0;
  width: 5px;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  // position: absolute;
  // top: 0;
  // left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid $dnd-highlight;
  border-radius: 50%;
}

/* On mouse-over, add a background color */
.radio-container:hover input ~ .checkmark {
  background-color: $dnd-highlight;
}

/* When the radio button is checked, add a background */
.radio-container input:checked ~ .checkmark {
  background-color:$dnd-highlight;
}


/* ================================== */
/*  PAGE SPECIFIC                     */
/* ================================== */

//----- HOME
.home {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-family: $font-logo;
    font-size: 10rem;
    color: rgb(74, 100, 108);
  }
}


.shine {
  text-align: center;
  color: rgba(255,255,255,0.1);
  background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #222;
}
@-moz-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-o-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}